/* the body takes only the inheritable properties*/
*{
    margin:0;
    padding:0;
}
.container{
    border: 4px solid black;
    width:825px;
    margin:50px auto;
}
body{
    font-family:sans-serif;
    font-size:18px;
    line-height:1.5;
}
/* .product{
    border: 5px solid black;
} */
h2{
    text-align:center;
    background-color:rgb(224, 216, 216);
    text-transform:uppercase;
    padding:10px 10px;
}

p{
    margin-bottom: 10px;
}
a:hover{
    text-decoration:none;
}
button{
    background-color:black;
    color:white;
    border:none;
    font-size:20px;
    text-transform:uppercase;
    cursor:pointer;
    width:100%;
    padding:15px;
    border-top:4px solid black;
}
button:hover{
    color:black;
    background-color:orange;
} 
ul{
    list-style:square;
    margin-left:20px;
}
li{
    margin-bottom:20px;
}
.cost{
    font-size:24px;
}
.shipping{
    font-size:16px;
    color:#9b9898;
    margin-bottom: 15px;
}
/*use this when the link is not visited*/
/* .more-info:link{
    color:black;
} */
/*use this when the link has already been visited*/
.more-info:visited{
    color:black;
}
.product-details{
    text-transform:uppercase;
    font-size:22px;
    margin-top:40px;
    margin-bottom:20px;
}
/*margins do not work for small elements like anchors */
h2{
    position:relative;
}

h2::after{
    content:"SALE";
    background-color:red;
    color:white;
    font-size:16px;
    display:inline-block;
    padding:5px 10px;
    position:absolute;
    top:-20px;
    left:-35px;
}
 .main-container{
    background-color:yellow;
    display:inline-block;
    /* width:50px;
    height:50px;
    margin-right:10px; */
 }
.container-one{
    background-color:black;
    width:50px;
    height:50px;
    margin:10px;  
} 
.container-two{
    background-color:maroon;
    width:50px;
    height:50px;
    margin:10px;
}
.container-three{
    background-color:purple;
    /* width:50px;
    height:50px;
    margin-right:10px; */
}
.container-four{
    background-color:red;
    /* width:50px;
    height:50px;
    margin-right:10px; */
}
.container-five{
    background-color:greenyellow;
    /* width:50px;
    height:50px;
    margin-right:10px; */

}
.container-six {
    background-color:orangered;
    /* width:50px;
    height:50px;
    margin-right:10px; */
}
